<div class="module-contents-header">
	<div>{{title}}</div>
	<div class="features">
		<div ng-click="featureView = 'data'" ng-class="{'selected' : featureView == 'data'}" class="hvr-underline-from-center tab selected">
			Data
		</div>
		<div ng-click="featureView = 'view'" ng-class="{'selected' : featureView == 'view'}" ng-class="'select' : featureView = 'view'" class="hvr-underline-from-center tab">
			Views
		</div>
	</div>
</div>

<!-- DATA -->
<div ng-show="featureView == 'data'">
	<div style="padding: 70px;">
		<div class="feature-card">
			DATA
		</div>	
	</div>
</div>

<!-- VIEW -->
<div ng-show="featureView == 'view'">
	<div style="padding: 70px;">
		<div class="feature-card">
			<div>
				<!-- Views -->
				<div class="view-cards-demo">
					456
				</div>
				<!-- Selections -->
				<div class="view-cards-controls">
					456
				</div>
			</div>
		</div>	
	</div>
</div>
